.backgr {
    width: 100%;
    background-position: center;
    background-size: cover;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/pexels-athena-2371905.jpg);
    height: 100%;
    z-index: 2;
}

.navbar-nav {
  padding: 8px;
}

.navbar-brand {
  padding: 8px;
}

.about {
  min-height: 100vh;
  width: 100%;
  padding: 70px 0px;
}

.about img {
  border: 2px solid #f30a0a;
  box-shadow: 0 0 5px #f30a0a, 
  0 0 25px #f30a0a;
  height: auto;
  width: 40%;
  border-radius: 5em;
  transition: 0.5s ease;
}

.main {
  width: auto;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.abouttext h1 {
  color: #fff;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.abouttext h5 {
  color: #f30a0a;
  font-size: 28px;
  text-transform: 25px;
  margin-bottom: 0.4em;
}

.abouttext p {
  color: rgba(255,236,236,0.8);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.abouttext {
  padding: 0 0 0 80px;
}

@media (max-width: 991px) {
    .main {
        flex-direction: column;
    }

    .backgr {
        height: 100%;
    }

    .about img {
      width: 75%;
    }

    .abouttext {
      padding: 10px;
    }
}