.backgr {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/pexels-athena-2371905.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.navbar-nav {
    padding: 8px;
}
      
.navbar-brand {
    padding: 8px;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 20px;
    color: white;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size: 1.2rem;
  
  }
  
  .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    background: linear-gradient(to right, #b90000, #ff0000);
    height: 100%;
    width: 0px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
  }

.blogssection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backgr h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.blogimage {
    width: auto;
    max-width: 545px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.blogcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border: 2px solid #f30a0a;
    box-shadow: 0 0 5px #f30a0a, 
    0 0 25px #f30a0a;
    width: auto;
    max-width: 550px; 
    background: black;;
    margin: 30px auto;
    border-radius: 10px;
}

.blogcard h4 {
    font-family: sans-serif;
    padding: 0 90px;
    text-align: center;
}

.blogcard p {
    padding: 0;
    text-align: center;
    margin: 0 20px;
}

.read-more-text {
    display: none;
}

.read-more-text--show {
    display: inline;
}

.read-more-btn {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #b90000, #ff0000);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.read-more-btn:hover {
    background: linear-gradient(to right, #ff5050, #ffa9a9);

}

@media (max-width: 1000px) {
    .blogssection {
        flex-direction: column;
    }

    .backgr {
        height: 100%;
    }
}