.backgr {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/pexels-athena-2371905.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    padding-left: 20px;
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    color: white;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.blogssection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blogimage {
    width: 550px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.blogcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border: #fff solid 2px;
    width: 550px; 
    background: black;;
    margin: 30px auto;
    border-radius: 10px;
}

.blogcard h4 {
    font-family: sans-serif;
    padding: 0 20px;
    text-align: center;
}

.blogcard p {
    padding: 0;
    text-align: center;
    margin: 0 20px;
}