.backgr {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/pexels-athena-2371905.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    }

.navbar-nav {
    padding: 8px;
}
      
.navbar-brand {
    padding: 8px;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 20px;
    color: white;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size: 1.2rem;
  
  }
  
  .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    background: linear-gradient(to right, #b90000, #ff0000);
    height: 100%;
    width: 0px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
  }

.contactsect {
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-top: 0;
}

.contactsect .content {
    max-width: 800px;
    text-align: center;
}

.contactsect .content h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 0px;
}

.contactsect .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: black;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box h3 {
    font-weight: 500;
    color: #f30a0a;
}

.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input, .contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
    width: 100px;
    background: linear-gradient(to right, #b90000, #ff0000);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
} 
.contactform .inputbox input[type="submit"]:hover {
background: linear-gradient(to right, #ff5050, #ffa9a9);
}
@media (max-width: 991px) {
    .contactsect {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
    }
    .container .contactinfo, .contactform {
        width: 100%;
    }
}