.backgr {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/pexels-athena-2371905.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    }

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    padding-left: 20px;
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    color: white;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#projects {
    background-color: #f9f9f9;
    padding-top: 50px;
  }
  
  #projects h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .project-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }